/*
 * Fonts
 *
 */

$font-main: 'PT Sans Narrow';

/*
 * Color
 *
 */
 
$color-black: #000000;
$color-white: #ffffff;

$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;
$tablet-width: 768px;
$desktop-width: 1200px;

/*
 * Animation Speed
 *
 */

$animation-speed: 0.4s;