doctype html
html(lang="ru")
	include include/head.pug
	+head('интенсив бородинский')

	body
		header.page-header
			a.page-header__logo(href="")
				picture
					source(media="(min-width: 1200px)" srcset="images/logotype-desktop@1x.png")
					source(media="(min-width: 768px)" srcset="images/logotype-tablet.png")
					img.page-header__logo-image(src="images/logotype-mobile.png" width="226px" height="30px" alt="Барбершоп Бородинский")

			nav.main-nav.main-nav--closed.main-nav--nojs
				button.main-nav__toggle(type="button")
					span.visually-hidden Открыть меню

				div.main-nav__wrapper
					ul.main-nav__list.site-list
						li.site-list__item.site-list__item--active
							a Главная

						li.site-list__item
							a(href="photo.html") Наши работы


						li.site-list__item
							a(href="form.html") Записаться

						
						li.site-list__item
							a(href="#") Контакты


						li.site-list__item
							a(href="#") HTML ACADEMY

					ul.main-nav__list.user-list
						li.user-list__item
							a.user-list__login(href="login.html")
								<svg class="user-list__login-icon"xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M7.31 9.06l-.08.07-1.43 1.46a1.24 1.24 0 0 0-.23.32 1.17 1.17 0 0 0 .19 1.33 1.15 1.15 0 0 0 .95.37 1.18 1.18 0 0 0 .79-.37l1.85-1.86 1.72-1.72a1.15 1.15 0 0 0 .19-.27 1.11 1.11 0 0 0 .12-.6 1 1 0 0 0-.21-.58c-.14-.17-.29-.32-.44-.48L7.34 3.34a1.1 1.1 0 0 0-1-.28 1.12 1.12 0 0 0-.7.41 1.14 1.14 0 0 0-.27.67 1.19 1.19 0 0 0 .39 1l1.5 1.5.08.08H2.1a1.21 1.21 0 0 0-.72.42 1.15 1.15 0 0 0-.24 1 1.12 1.12 0 0 0 .39.62 1.14 1.14 0 0 0 .78.29h5zM12.51 8v3.93a.59.59 0 0 1-.26.5.67.67 0 0 1-.41.11h-1.27a1.18 1.18 0 0 0-.66.42 1.17 1.17 0 0 0 .21 1.67 1.1 1.1 0 0 0 .69.24h1a6 6 0 0 0 .64 0 2.32 2.32 0 0 0 .73-.24 3 3 0 0 0 .62-.42 3.14 3.14 0 0 0 .71-.86 2.88 2.88 0 0 0 .35-1.42v-8.2a2.51 2.51 0 0 0-.26-.9 3.05 3.05 0 0 0-.88-1.07 2.88 2.88 0 0 0-1.78-.62h-1.32a1.15 1.15 0 0 0-.65.37 1.12 1.12 0 0 0-.31.73 1.1 1.1 0 0 0 .18.67 1.13 1.13 0 0 0 1 .56h1.18a.62.62 0 0 1 .55.56v3.94z"/><path d="M7.31 9.06h-5a1.14 1.14 0 0 1-.78-.29 1.12 1.12 0 0 1-.39-.62 1.15 1.15 0 0 1 .24-1 1.21 1.21 0 0 1 .72-.45h5.24l-.08-.08-1.5-1.5a1.19 1.19 0 0 1-.39-1 1.14 1.14 0 0 1 .27-.67 1.12 1.12 0 0 1 .7-.41 1.1 1.1 0 0 1 1 .28l3.39 3.38c.15.15.3.31.44.48a1 1 0 0 1 .21.58 1.11 1.11 0 0 1-.12.6 1.15 1.15 0 0 1-.19.27l-1.72 1.75-1.84 1.86a1.18 1.18 0 0 1-.79.37 1.15 1.15 0 0 1-.95-.37 1.17 1.17 0 0 1-.19-1.33 1.24 1.24 0 0 1 .23-.32l1.43-1.44.08-.07z"/><path d="M12.51 8V4.06a.62.62 0 0 0-.51-.57h-1.18a1.13 1.13 0 0 1-1-.56 1.1 1.1 0 0 1-.18-.67 1.12 1.12 0 0 1 .36-.75 1.15 1.15 0 0 1 .65-.37h1.32a2.88 2.88 0 0 1 1.78.62 3.05 3.05 0 0 1 .85 1.04 2.51 2.51 0 0 1 .26.9v8.2a2.88 2.88 0 0 1-.35 1.42 3.14 3.14 0 0 1-.71.86 3 3 0 0 1-.62.42 2.32 2.32 0 0 1-.73.24 5.94 5.94 0 0 1-.64 0h-1a1.1 1.1 0 0 1-.69-.24 1.17 1.17 0 0 1-.21-1.6 1.18 1.18 0 0 1 .66-.42h1.27a.67.67 0 0 0 .41-.11.59.59 0 0 0 .26-.5V8.04z"/></svg>
								|Войти

		main.page-main
			h1.visually-hidden Барбершоп «Бородинский» - истинно мужская классика

			section.stats

				header.stats__header
					h2.visually-hidden Статистика Барбершопа
					b.stats__slogan Стрижка у нас
						br
						|  это выгодно!

					p.stats__intro Мужская стрижка требует точного подхода. Обратимся к статистике:

					small.stats__legend.stats__legend--top
						sup *
						|- приведенные данные ложь

				table.stats__list
					tr
						td.stat__value 1 500 
							sup *

						td.stats__field рублей
							
							|вложений
					tr
						td.stat__value 7 200
						td.stats__field секунд
							br 
							|времени мастера

					tr
						td.stat__value 90 000
						td.stats__field постриженных
							br
							|волос

					tr
						td.stat__value 500 000
							sup *
						td.stats__field лайков
							br
							|и комплиментов

				small.stats__legend.stats__legend--bottom
					sup * 
					|- приведенные данные ложь

			section.advantages
				div.advantages__wrapper.slider
					h2.visually-hidden Наши преимущества

					ul.advantages__list.slider__list
						li.advantages__item.advantages__item--fast.slider__item
							h3.advantages__title БЫСТРО

							p.advantages__description Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки.

						li.advantages__item.advantages__item--cool.slider__item
							h3.advantages__title КРУТО

							p.advantages__description Забудьте, как вы стриглись раньше. Мы сделаем из Вас звезду футбола или кино. Во всяком случае внешне.


						li.advantages__item.advantages__item--price.slider__item
							h3.advantages__title ДОРОГО

							p.advantages__description Наши мастера — профессионалы своего дела и не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?

					p.advantages__toggles.slider__toggles
						button.slider__toogle(type="button") 1
						button.slider__toogle(type="button") 2
						button.slider__toogle(type="button") 3

			section.news
				div.news__wrapper
					h2.news__title Новости и акции

					ul.news__lis
						li.news__item
							time.news__date(datetime="2017-09-29")
								b.news__day 29
							|сент
							p.news__text Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.


						li.news__item
							time.news__date(datetime="2017-09-19")
								b.news__day 19
							|сент

							p.news__text В нашей команде пополнение, Борис «Бритва» Стригунец, обладатель множества титулов и наград пополнил наши стройные ряды.

						li.news__item
							time.news__date(datetime="2017-09-09")
								b.news__day 9
							|сент
							p.news__text Всё дорожает, ф наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чем здесь подвох!

					a.news__to-all.button(href="#") Показать все
			
			section.reviews
				div.reviews__wrapper.slider
					h2.reviews__title Отзывы о нас

					a(href="#").reviews__write.button Оставаить свой
					div.reviews__list.slider__list
						blockquote.reviews__item.slider__item
							p.reviews__author-picture
								img(src="images/picture-travis.png" width="50" height="33" alt="Фото Трэвиса Баркера").reviews__author-image

							cite.reviews__author-name Трэвис Баркер

							p.reviews__atext Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!

						blockquote.reviews__item.slider__item
							p.reviews__author-picture
								img(src="images/picture-travis.png" width="50" height="33" alt="Фото Джона Смита").reviews__author-image

							cite.reviews__author-name Джон смит

							p.reviews__atext Отличную стрижку мне сделали ребята

						blockquote.reviews__item.slider__item
							p.reviews__author-picture
								img(src="images/picture-travis.png" width="50" height="33" alt="Фото Ивана Бородайло").reviews__author-image
							cite.reviews__author-name Иван Бородайло

							p.reviews__atext В Бородинском ваша борода в надежных руках

						button.reviews__prev(type="button") Предыдущий отзыв

						button.reviews__next(type="button") Следующий отзыв

					p.reviews__toggles.slider__toggles
						button.slider__toogle(type="button") 1
						button.slider__toogle(type="button") 2
						button.slider__toogle(type="button") 3

		footer.page-footer
			div.page-footer__wrapper
				div.page-footer__contacts.contacts
					b.contacts__title Барбершоп "Бородинский"

					p.contacts__text г. Санкт-Петербург, ул. Большая Конюшенная 19/8
						a(href="tel:+78125556666").contacts__phone
							span.contacts__phone-mobile Тел.:
						|+7 (812) 555-66-66

				div.page-footer__social.social
					b.social__title Давайте дружить!

					ul.social__list
						li.social__item
							a(href="https://vk.com/htmlacademy").social__link.social__link--vkontakte Мы в Вконтакте

						li.social__item
							a(href="https://www.facebook.com/htmlacademy").social__link.social__link--facebook Мы в Фейсбуке

						li.social__item
							a(href="https://www.instagram.com/htmlacademy").social__link.social__link--instagram Мы в Инстаграме

				div.page-footer__copyright.copyright
					b.copyright__text Разработано:
					a(href="http://htmlacademy.ru/intensive/adaprive").button.copyright__link HTML ACADEMY

		include ../blocks/img/img.pug
		include include/script.pug